.App {
  
  background-color:var(--mainWhite);
  font-family: 'Raleway', sans-serif;
}

:root{
  --mainBlue:#30318C;
  --mainGreen:#39B54A;
  --mainWhite:#ffffff;
  --mainBlack:#000000;

}
.roboto{
  font-family: 'Roboto', sans-serif;
}